.wrapper {
  form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    .formInput {
      background-color: white;
      margin: 0.5em 0em 0.5em 1em;
      border-width: 0em 0em 0.1em 0em;
      border-color: black;
      border-style: solid;
      width: 10em;
    }
    .submit {
      width: 6em;
      text-align: center;
      align-self: center;
    }
  }
  .mediaButtons {
    display: flex;
    flex-direction: column;
    .facebook,
    .google {
      width: 15em;
      margin: 0.5em 0em;
      align-self: center;
    }
  }
}

.facebook {
  background-color: white;
  border: 1px solid blue;
  .faceIcon {
    color: blue;
  }

  .link {
    color: blue;
    font-weight: bolder;
    text-decoration: none;
  }
}
.facebook:hover {
  background-color: blue;
  .faceIcon {
    color: white;
  }
  .link {
    color: white;
  }
}

.google {
  background-color: white;
  border: 1px solid black;
  .link {
    color: black;
    font-weight: bolder;
    text-decoration: none;
  }
}

.google:hover {
  background-color: rgba(229, 236, 240, 0.986);
  border: 1px solid black;
  .link {
    color: black;
    font-weight: bolder;
    text-decoration: none;
  }
}
